.photo-container {
  width: 100%;
  background-color: red;
  margin: 10px auto;
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
